@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.discount-div{
    background: linear-gradient(rgba(44,48,65,.244) ,rgba(44,48,65,.244) ,rgba(44,48,65,.244 ), rgba(44, 48, 65, .244)) , url('../images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
